* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* background: orange; */
  overflow-x: hidden;
  box-sizing: border-box;
}

/* -----------------------------------------------------nav-section--------------------------------------------- */

nav {
  position: sticky;
  top: 0;
  z-index: 11;
}

nav a {
  text-decoration: none;
  color: #e7e7e7;
  /* background-color: aqua; */
  transition: 0.5s;
}

nav a:hover {
  color: white;
  font-weight: 500;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  /* background-color: gray; */
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  /* background-color: brown; */
  padding-right: 10px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.nav-links ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* -----------------------------------------------------hero-section--------------------------------------------- */

#hero-section {
  min-height: 100vh;
  width: 100%;
}

/* -----------------------------------------------------about-us--------------------------------------------- */

#about-us {
  width: 100vw;
  /* margin: auto; */
  background-color: #000000;
  min-height: 100vh;
  background-image: url(assets/img/backdrop.png);
  background-position: center;
  background-size: cover;
}

#about-us p {
  color: white;
}

.about-us-container {
  text-align: left;
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: brown; */
}

.about-us-col {
  /* background-color: #cfcfcf; */
  padding: 10px;
  flex-basis: 31%;
}

.about-us-col h3 {
  color: white;
}

@media (max-width: 700px) {
  #about-us {
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .about-us-row {
    flex-direction: column;
  }
}

/* -------------------------------------------------------Our Products Section-------------------------------------------- */

#our-products {
  background-color: #fc8a05;
  margin: auto;
  text-align: center;
  /* min-height: 100vh; */
}

.products-grid-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #cfcfcf; */
}

.products-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.grid-item:hover {
  transform: translateY(-20px);
}

.grid-item img {
  width: 50%;
  transition: 1s;
}

.grid-item:hover img {
  animation: rotation 10s infinite linear;
}

.grid-item img:hover {
  cursor: pointer;
}

.grid-item p {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

@media (max-width: 700px) {
  .products-grid-wrapper {
    padding: 10% 0;
  }
  .products-grid-container {
    grid-template-columns: auto;
  }
  .grid-item img {
    max-width: 20%;
    transition: 1s;
  }
}

/* -------------------------------------------------------Contact Section-------------------------------------------- */

#contact {
  height: 100vh;
  background-color: #000000;
  color: white;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact-col {
  flex-basis: 30%;
  /* background: #fc8a05; */
}

.social-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .contact-row {
    flex-direction: column;
    padding: 20%;
  }

  .contact-col {
    flex-basis: 40%;
  }

  .social-icon-wrapper {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  .social-icon-wrapper img {
    width: 70%;
  }
}

/* -------------------------------------------------------Footer Section-------------------------------------------- */
#footer-section {
  min-height: 10vh;
  color: white;
  width: 100%;
  margin: auto;
  bottom: 0;
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fc8a05;
}

.footer-nav-links {
  display: flex;
  justify-content: space-between;
  padding: 2% 0%;
}

.footer-nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.footer-nav-links ul li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  #footer-section {
    display: none;
  }
}
