* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  z-index: 10;
}

body {
  background-color: #fc8a05;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
  width: 80%;
  /* background: #cfcfcf; */
}

/* -------------------------------------------------------Nav Section-------------------------------------------- */

nav {
  position: sticky;
  top: 0;
  z-index: 11;
}

nav a {
  text-decoration: none;
  color: #e7e7e7;
  /* background-color: aqua; */
  transition: 0.5s;
}

nav a:hover {
  color: white;
  font-weight: 500;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  /* background-color: gray; */
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  /* background-color: brown; */
  padding-right: 10px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.nav-links ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* -------------------------------------------------------Hero Section-------------------------------------------- */

#hero-section {
  max-height: 100vh;
  background-color: #fc8a05;
  /* fix me */
  margin-top: -109px;
}

.hero-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: yellow; */
}

#title-one {
  font-size: 220px;
  color: white;
  font-weight: 900;
  letter-spacing: 30px;
  /* transform: translateX(-150px); */
  position: relative;
  /* top: 0;
  left: 0; */
}
#title-two {
  font-size: 220px;
  color: white;
  position: relative;
}
.hero-sub-container-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-sub-container-two {
  display: flex;
  flex: row;
  align-items: center;
  /* background-color: #e7e7e7; */
}

/* #orange-slice-1 {
  position: absolute;
  top: 400;
  right: 20%;
  z-index: 11;
  transition: 0.03s;
} */

#orange-slice-1 {
  position: relative;
  z-index: 11;
  transition: 0.03s;
}

#orange-slice-2 {
  position: absolute;
  /* top: 650; */
  top: 580;
  right: 30%;
  z-index: 12;
  width: 300px;
}

/* @media (max-width: 1920px) {
  #orange-slice-2 {
    right: 30%;
  }
}
@media (min-width: 1921px) {
  #orange-slice-2 {
    right: 45%;
  }
} */

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* -------------------------------------------------------About Us Section-------------------------------------------- */

#about-us {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(assets/img/backdrop.png);
  background-position: center;
  background-size: cover;
}

/* #about-us img {
} */

.about-us-col {
  flex-basis: 25%;
}

#about-us-col h1 {
  text-align: center;
}

#about-us-col p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 700px) {
  #about-us {
    flex-direction: column;
  }
}

/* -------------------------------------------------------Our Products Section-------------------------------------------- */

#our-products {
  background-color: #fc8a05;
  margin: auto;
  text-align: center;
  height: 100vh;
}

.products-grid-wrapper {
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* background-color: #cfcfcf; */
}

.products-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.grid-item:hover {
  transform: translateY(-20px);
}

.grid-item img {
  width: 50%;
  transition: 1s;
}

.grid-item:hover img {
  animation: rotation 10s infinite linear;
}

.grid-item img:hover {
  cursor: pointer;
}

.grid-item p {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

/* -------------------------------------------------------Contact Section-------------------------------------------- */

#contact {
  height: 100vh;
  background-color: #000000;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
}

.contact-col {
  flex-basis: 30%;
  /* background: #fc8a05; */
}

.social-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* -------------------------------------------------------Footer Section-------------------------------------------- */
#footer-section {
  height: 10vh;
  background-color: #000000;
  color: white;
  width: 100%;
  margin: auto;
  bottom: 0;
}

.footer-row {
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fc8a05;
}

.footer-nav-links {
  display: flex;
  justify-content: space-between;
  /* padding: 2% 6%; */
  padding: 2% 0%;
  /* background-color: gray; */
}

.footer-nav-links ul li {
  list-style: none;
  display: inline-block;
  /* background-color: brown; */
  padding-right: 10px;
}

.footer-nav-links ul li a {
  text-decoration: none;
  color: white;
}
